<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAuGyNjh8LEciN4ibVZHi7jKW1WfV7rq0w</string>
	<key>GCM_SENDER_ID</key>
	<string>569419467591</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.journeypro</string>
	<key>PROJECT_ID</key>
	<string>journeypro-a5a08</string>
	<key>STORAGE_BUCKET</key>
	<string>journeypro-a5a08.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:569419467591:ios:7909802dc80eedef3a5a62</string>
</dict>
</plist>